* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 0.625rem;
  padding: 1.5rem;
  background-color: #1b995e;
  color: white;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #ff0077;
  margin: 1rem;  
}

.header{
  color: white;
}

.tune-card {
  box-shadow: 0 0.125rem .5rem rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 0.625rem;
  padding: 1rem;
  text-align: center;
}

.tune-card input {
  font: inherit;
  border: 0.063rem solid #ccc;
  height: 4rem;
  font-size: 1.5rem;
  margin: 1rem;
  min-width: 30rem;
}

.tune-card input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}

.tune-card button {
  font: inherit;
  cursor: pointer;
  border: 0.063rem solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 0.063rem 0.063rem 0.125rem rgba(0, 0, 0, 0.26);
  height: 4rem;
  font-size: 2rem;
  min-width: 30rem;
}

.tune-card button:hover,
.tune-card button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 0.063rem 0.063rem 0.25rem rgba(0, 0, 0, 0.26);
}

.warning {
  font-size: 2rem;
  color: #ec3169;
  margin: 2rem 0 2rem 0;
  margin-left: 40%;
}

.centeralign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artists-card {
  box-shadow: 0 0.125rem .5rem rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 0.625rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.artists-card .card {
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.26);
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  border:solid 1.5px #ccc
}

.artists-card .card-image{
  height: 300px;
  width: auto;
  margin: 1rem;
}

.artists-card .card-body {
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #8ddba4;
  padding: 0.5rem;
  color: #1f1f1f;
  border-radius: 0.263rem;
}

.artists-card .card-album-name {
  font-size: large;
  color: #ec3169;
  font-weight: 600;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}